* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Roboto', sans-serif;
}
.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}
.promo {
  height: 800px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
  padding: 39px 0px 62px 0px;
}
.logo .logo_img {
  display: block;
  margin: 0 auto;
}
.logo .logo_text {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}
.title {
  font-weight: 900;
  font-size: 41px;
  line-height: 41px;
  text-transform: uppercase;
  color: #f9bf3b;
  text-align: center;
}
h2.title {
  margin-top: 30px;
}
.simple .title_big {
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 21px;
}
.promo .promo_text {
  padding: 0 13px;
  margin-top: 32px;
  font-weight: 300;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}

.promo .promo_text span {
  font-weight: 700;
  color: #f9bf3b;
}

.promo .promo_btn,
.gift .gift_btn {
  display: block;
  margin: 73px auto;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.gift .gift_btn {
  margin: 0 auto;
  margin-top: 52px;
}
.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}
.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px;
}

.waiting .waiting_header,
.finish .finish_header {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.finish .finish_header {
  color: white;
}

.waiting .waiting_divider,
.finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
}
.waiting .waiting_wraper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.waiting .waiting_wraper .waiting_item {
  width: 339px;
  text-align: center;
}
.waiting .waiting_wraper .waiting_item .waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-weight: 300;
  font-size: 15px;
}
.optimization {
  padding: 102px 0 107px 0;
}
.optimization .optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300;
}
.optimization .optimization_text span {
  font-weight: 700;
}
.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -249px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url("../img/second_bg.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}
.finish .finish_wrapper .finish_item {
  width: 204px;
}
.finish .finish_wrapper .finish_item .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  border-radius: 100%;
  background-color: #b4e2ff;
}
.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  color: #efefef;
  font-size: 17px;
  font-weight: 300;
}
.gift {
  min-height: 628px;
  background-color: #efefef;
  padding: 86px 0 87px 0;
}
.gift .gift_box {
  display: block;
  margin: 0 auto;
}
.gift .gift_text {
  margin-top: 42px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.first {
  min-height: 515px;
  background: #fff;
  padding: 89px 0 64px 0;
}
.first .first_img {
  display: block;
  margin: 0 auto;
}
.first .first_header {
  margin-top: 37px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.first .first_title {
  margin-top: 30px;
  color: #299cbd;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.first .first_text {
  margin-top: 25px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}
.end {
  height: 166px;
  background-color: #1a1a1a;
  padding: 61px 0 69px 0;
}
.end .end_wrapper{
  display: block;
  margin: 0 auto;
  width: 377px;
}
.end_links,
.end_text,
.end_tel {
  color: #888888;
  line-height: 21px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.end .end_tel {
  text-decoration: none;
}